<div class="d-flex flex-column">
    <span class=" popup d-flex align-items-left">
        <%= session.bar.name %>
    </span>
    <span class=" popup ">
        <%= session.category %>
    </span>
    <span>
      <%= image_tag session.bar.image, alt: "alttext" %>
    </span>
</div>
