<div class="container-background">
  <div class="container-description-bar">
    <div class="container-show d-flex align-items-end" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://picsum.photos/200/300);">
      <div class="bar-card d-flex align-items-center justify-content-around mb-3 text-white">
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="avatar-bordered ml-3" />
        <div class="bar-card-description">
          <h1>ROCKWOOD</h1>
          <h2>4  quai Louis XVIII, 33000 Bordeaux</h2>
          <p>Max Barnman</p>
        </div>
        <i class="fas fa-heart" id= "heart"></i>
      </div>
    </div>
    <div class="image-bar-cards-1">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
            </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      </div>
    </div>
    <div class="image-bar-cards-2">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
            </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
      </div>
    </div>
    <div class="session-bar">
      <div class="title-session d-flex justify-content-start">
        <img class="avatar-thema mr-4" />
        <div class="d-flex flex-column">
          <h1 class="title-description">Retour vers le futur !</h1>
          <h2 class="date-thema">6 décembre 2019 - Electro</h2>
        </div>
      </div>
      <div class="session-description d-flex justify-content-center">
        <p>
          Ce soir le Rockwood ouvre une session JuxBar avec un
          thème musicale electro. Max le barman du Rockwood qui
          vous servira de délicieux cocktail, précise que la soirée se
          concentrera sur électro très festive, dans la veine d’artistes
          comme …. Lorem ipsum dolor sit amet, consetetur
          sadipscing elitr, sed diam nonumy eirmod tempor invidunt
          ut labore et dolore magna aliquyam erat, sed diam voluptua.
          At vero eos et accusam et justo duo dolores et ea rebum. Stet
          clita kasd gubergren, no sea takimata sanctus est Lorem
          ipsum dolor sit amet. Lorem ipsum dolor sit amet,
          consetetur sadipscing elitr, sed diam nonumy eirmod
          tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo
          dolores et ea rebum. Stet clita kasd gubergren, no sea
          takimata sanctus est Lorem ipsum dolor sit amet.
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
          At vero eos et accusam et justo duo
          dolores et ea rebum. Stet clita kasd gubergren, no sea
        </p>
      </div>
    </div>
  </div>
  <div class="action-btn mb-5">
    <%= link_to 'REJOINDRE', session_playlists_path(params[:id]), class: "btn btn-gradient" %>
  </div>
</div>
