<div class="container">
  <img class="background_image" src="https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1334&q=80" alt="bar">
  <div class="bar_card">
    <div>
      <h1 class="bar-card-description">Rockwood</h1>
      <h2 class="bar-card-description">4  quai Louis XVIII, 33000 Bordeaux</h2>
      <p class="bar-card-description">Max Barnman</p>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="avatar_barman" />
      <i class="fas fa-heart heart-item"></i>
    </div>
  </div>
</div>

