// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$b: #00224f;


// playlist card colors
$btnred: #BA1B1D;
$fontblack: #262525;
$backblue: #103458;
$cardblue: #3E5369;
$playerblue: #0F2133;
$playerbluelight: #284D71;
