
<div class="home-page container-fluid d-flex justify-content-center align-center">
  <div class="d-flex flex-column text-center justify-content-center">
    <h1>JUXBAR</h1>
    <div hidden><%= link_to "Enter", sessions_path, class: "button text-center", id: "btn-home" %></div>
  </div>
</div>
