
<div class="container-fluid d-flex justify-content-center align-center">
  <div class="d-flex w-100 flex-column text-center">
    <h1>JUXBAR</h1>
    <div><%= link_to "enter", sessions_path, class: "button text-center" %></div>
  </div>
</div>
