<div class="container text-center center-pages">
  <div class="search_playlist">
    <div class="nav_search_bar d-flex justify-content-between align-items-center">
      <i class="fas fa-arrow-left"></i>
      <h2>My Playlist</h2>
      <i class="fas fa-bars"></i>
    </div>
    <div class="search_bar">

    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-3">

      <div class="card p-4">


      </div>
    </div>
  </div>
</div>
