<div class="text-center">
  <div class="search_playlist" id="navbar_playlist">
    <div class="nav_search_bar">
      <i class="fas fa-arrow-left">
      </i>
      <h3>SELECTION</h3>
      <i class="fas fa-bars"></i>
    </div>
    <div id="accordion_search_bar_container">
      <input type="search"
         id="accordion_search_bar"
         placeholder="Search"/>
    </div>
  </div>

  <div class="selection_song_card">
    <div class="hearder-playlist-card">

    </div>
    <div class="playlist">
      <% @songs['tracks']['data'].each do |song|%>
        <p><%= song["title"] %></p>
      <% end %>
    </div>


  </div>

  <div class="selection_song_card">
    <div class="hearder-playlist-card">

    </div>
    <div class="playlist">
      <% @songs['tracks']['data'].each do |song|%>
        <p><%= song["title"] %></p>
      <% end %>
    </div>


  </div>

</div>
