

.bar_card {

}

.card-sessions-infos {
  width: 80vw;
  background-color: rgba(255,255,255,1);
  border-radius: 10px;
  border: #F4F5F6 1px solid;
  height: 95px;
  margin: 8px;
  padding-top: 8px;

}

.card-sessions-infos h2 {
font-size: 15px;
text-decoration: none;
color: black;

}

.card-sessions-infos p {
  font-size: 10px;
  text-decoration: none;
  color: black;
}

.card-sessions-infos h3 {
font-size: 15px;
text-decoration: none;
color: black;

}
#moncercle {
  // background: red;
  border-radius:50%;
  width:30px;
  height:30px;
  border:2px solid #679403;

}
 .moncercle-vert {
  background: green;
 }
