
.card-sessions-infos {
  width: 80vw;
  background-color: #4C5763 ;
  border-radius: 10px;
  //border: #A9A9A9 3px solid;
  min-height: 150px;
  margin: 8px;
  padding: 20px;
  box-shadow: 2px;
  position: relative;
  justify-content: space-between;
  // font-family: $main-font, sans-serif;

}

.card-sessions-infos h2 {
  font-size: 30px;
  //text-decoration: underline;
  color: white;
  padding: 5px;
  margin: 0px;
  font-family: $main-font;
  font-size: $map-bar-name-font-size;
  font-weight: $font-weight-bold;

}

.card-sessions-infos p {
  font-size: 26px;
  text-decoration: none;
  color: black;
  padding: 5px;
  margin: 0px;
  font-family: $main-font;


}

.card-sessions-infos h3 {
  font-size: 24px;
  padding: 5px;
  text-decoration: none;
  color: #FFFFFF;
  margin: 0px;
  font-family: $main-font;
  font-size: $map-bar-address-font-size;
  font-weight: $font-weight-medium;

}

.content-div-index {
  display: flex;
  display: inline-block;
  vertical-align: top;
  justify-content: space-between;
  align-content: space-between;

}

#moncercle {
  border-radius:50%;
  width:90px;
  height:90px;
  border:2px solid #FFFFFF;
  margin: auto;

  // position: absolute;
  // right: 100px;

}
 .moncercle-vert {
  background: green;
 }
.moncercle-noir {
  background: black;
 }
 .moncercle-rouge {
  background: red;
 }
 .moncercle-cyan {
  background: #40E0D0;
 }
 .moncercle-marron {
  background: #800000;
 }
 .moncercle-bleu {
  background-color: blue;
 }
 .moncercle-orange {
  background-color: orange;
 }

.moncercle-magenta {
  background-color: magenta;
 }
