

.bar_card {

}

.card-sessions-infos {
  width: 80vw;
  background-color: white ;
  border-radius: 10px;
  border: #CBCDCF 1px solid;
  height: 500px;
  margin: 8px;
  padding-top: 8px;
  box-shadow: 2px;
}

.card-sessions-infos h2 {
font-size: 15px;
text-decoration: none;
color: black;

}

.card-sessions-infos p {
  font-size: 10px;
  text-decoration: none;
  color: black;
}

.card-sessions-infos h3 {
font-size: 15px;
text-decoration: none;
color: black;

}
#moncercle {
  // background: red;
  border-radius:50%;
  width:30px;
  height:30px;
  border:2px solid #679403;
  margin: auto;

}
 .moncercle-vert {
  background: green;
 }
.moncercle-noir {
  background: black;
 }
 .moncercle-rouge {
  background: red;
 }
 .moncercle-cyan {
  background: #40E0D0;
 }
 .moncercle-marron {
  background: #800000;
 }
