.container-background {
  // width: 828px;
  // height: 1730px;
  height: 100vh;
  background-color: #3E5369;
}

.action-btn {
  position: absolute;
  bottom: 0;
  right: calc(50vw - 160px);
  // width: 100%;
  .btn-gradient {
    color: white;
    // width: 270px;
    // height: 80px;
    padding: 24px 120px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 30px;
    background: #BA1B1D;
    transition: background 0.3s ease;
  }
}


