.container-background {
  // width: 828px;
  // height: 1730px;
  min-height: 90%;

}

.action-btn {
  position: relative;
  text-align: center;
  // width: 100%;
  .btn-gradient {
    color: white;
    // width: 270px;
    // height: 80px;
    // padding: 4px 120px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 30px;
    background: #BA1B1D;
    transition: background 0.3s ease;
  }
}


