#navbar_playlist {
  background: linear-gradient(#00224f, #0051bc);
  padding-bottom: 1px;
  margin-bottom: 10px;
  border-radius: 0px 0px 45px 45px;
}

.nav_search_bar {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items : center;
}
