#navbar_playlist {
  background: linear-gradient(#0F2133, #284D71);
  padding-bottom: 1px;
  margin-bottom: 10px;
  border-radius: 0px 0px 45px 45px;
}

.nav_search_bar {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items : center;
  padding: 0px 10px 0px 10px;
}

h3 {
  padding-top: 10px;
}


