#navbar_playlist {
  background: linear-gradient(#0F2133, #284D71);
  margin: 0px 25px 10px 25px;
  border-radius: 0px 0px 45px 45px;
  padding: 0px 20px 5px 20px;
}

.nav_search_bar {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items : center;
  padding: 0px 10px 0px 10px;

}

h3 {
  padding-top: 10px;
  //font-size: $bar-selection-font-size;
  //font-weight: $font-weight-semi-bold;

}

.nav_search_bar h1 {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items : center;
  padding: 0px 10px 0px 10px;
  font-size: $bar-selection-font-size;
  font-weight: $font-weight-semi-bold;
}
