.hearder-playlist-card {
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.365));
    // position: absolute;
    // left: 20px;
    width: 90vw;
    margin: 20px;
    height: 195px;
    background-color: $cardblue;
    border-radius: 25px 25px 0px 0px;
    padding: 15px 20px;
    border: 0;
    overflow: hidden;
    color: white;
}

.header-playlist {
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.365));
    position: absolute;
    position: fixed;
    z-index: 1;
    left: 20px;
    top: 0px;
    width: 90vw;
    margin: 0px auto;
    height: 195px;
    background: linear-gradient($playerblue, $playerbluelight);
    border-radius: 0px 0px 25px 25px;
    padding: 15px 20px;
    border: 0;
    overflow: hidden;
    color: white;
}
  .playlist {
    position: relative;
    width: 90vw;
    margin: 20px;
    padding: 5px;
    top: -130px;
    background-color: rgba(255,255,255,1);
    border-radius: 25px 25px 25px 25px;
    border: 0;
    overflow: hidden;
    color: $fontblack;
  }

.avatar-playlist-card {
  width: 50px;
  height: 50px;
  background-position: center;
  background-image: cover;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: red 1px solid;
}

.container-playlist-card {
  // margin: 120px auto;
  max-width: 100%;
  position: absolute;
  top: 250px;
}

.playlist-list {
  height: 90px;
  padding: 20px 10px;
  border-top: 1px solid black;
  overflow: hidden;
}

.playlist-list-first {
  height: 90px;
  padding: 20px 10px;
  overflow: hidden;
}

.font-height-shrink {
  line-height: 1.2em;
}
