
.bar_button i {
  width: 50px;
}

.form_buttons {
  color: $light-gray;
}

.search_div {
    width: 83%;
    height: 70px;
    background: #103458;
    border-radius: 0 0 25px 25px;
    position: absolute;
    top: 0px;
    z-index: 1;
}

#search_input {
  -webkit-appearance: textfield;
}

.p-2 {
  background: white;
  border-radius: 10px;
  box-shadow: 2px;
  border: 1px solid $light-gray;
  height: 40px;
  display: flex;
  text-align: center;
  justify-content: center;

}
