#accordion_search_bar_container {
  position: relative;
  &:after {
    font-family: Glyphicons Halflings;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  #accordion_search_bar {
    display: block;
    margin: 10px auto;
    width: 70%;
    padding: 3px 10px;
    border: 1px solid $gray;
    border-radius: 25px;
    outline: 0;
  }
}

// #navbar_playlist {
//   position: fixed;
//   top: 0;
//   z-index: 1;
//   width: 90%;
//   /* margin: 0 auto; */
//   left: 72px;
// }
