<div class="container text-center">
  <div class="row">
    <div class="col-6 offset-3">
      <ul>
        <% @playlists.each do |playlist| %>
          <% playlist.songs.each do |song| %>
            <li><%= song.title %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
